<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Adding address</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
<form th:action="@{/address/add}" th:object="${address}" method="post" class="m-auto col-3 text-center">
    <h1 class="h3 mb-3 fw-normal">Adding new address</h1>

    <div class="mt-1 mb-1 text-muted" th:if="${addressExistsError}" th:text="${addressExistsError}"></div>

    <div class="form-floating">
        <input type="text" th:class="'form-control'+(${CountryError!=null}?' is-invalid':'')"
               id="country" th:field="*{country}" placeholder="Country" required minlength="2">
        <label for="country" th:text="${CountryError==null}?'Country':${CountryError}"></label>
    </div>
    <div class="form-floating">
        <input type="text" th:class="'form-control'+(${RegionError!=null}?' is-invalid':'')"
               id="region" th:field="*{region}" placeholder="Region" minlength="2">
        <label for="region" th:text="${RegionError==null}?'Region':${RegionError}"></label>
    </div>
    <div class="form-floating">
        <input type="text" th:class="'form-control'+(${CityError!=null}?' is-invalid':'')"
               id="city" th:field="*{city}" placeholder="City" required minlength="2">
        <label for="city" th:text="${CityError==null}?'City':${CityError}"></label>
    </div>
    <div class="form-floating">
        <input type="text" th:class="'form-control'+(${StreetError!=null}?' is-invalid':'')"
               id="street" th:field="*{street}" placeholder="Street" minlength="2">
        <label for="street" th:text="${StreetError==null}?'Street':${StreetError}"></label>
    </div>
    <div class="form-floating">
        <input type="number" th:class="'form-control'+(${HouseError!=null}?' is-invalid':'')"
               id="house" th:field="*{house}" placeholder="House" required min="1">
        <label for="house" th:text="${HouseError==null}?'House':${HouseError}"></label>
    </div>
    <div class="form-floating">
        <input type="number" th:class="'form-control'+(${BuildingError!=null}?' is-invalid':'')"
               id="building" th:field="*{building}" placeholder="Building" min="1">
        <label for="building" th:text="${BuildingError==null}?'Building':${BuildingError}"></label>
    </div>
    <div class="form-floating">
        <input type="number" th:class="'form-control'+(${FlatError!=null}?' is-invalid':'')"
               id="flat" th:field="*{flat}" placeholder="Flat" min="1">
        <label for="flat" th:text="${FlatError==null}?'Flat':${FlatError}"></label>
    </div>

    <button class="w-100 btn btn-lg btn-primary" type="submit">Add address</button>
</form>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>