<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Adding address</title>
</head>
<body>
<table>
    <thead><tr><th><h1>Adding new address</h1></th></tr></thead>
    <tfoot><tr><td><form th:action="@{/address}" method="get">
        <input type="submit" value="Return to management">
    </form></td></tr></tfoot>
    <tr th:if="${addressExistsError}"><td th:text="${addressExistsError}"></td></tr>
    <tr><td><form th:action="@{/address/add}" th:object="${address}" method="post"><table>
        <tr><td>
            <label for="country">Country: </label>
            </td><td>
            <input type="text" id="country" th:field="*{country}" required minlength="2">
        </td>
            <td th:if="${CountryRequiredError}" th:text="${CountryRequiredError}"></td>
        </tr>
        <tr><td>
            <label for="region">Region: </label>
        </td><td>
            <input type="text" id="region" th:field="*{region}" required minlength="2">
        </td>
            <td th:if="${RegionRequiredError}" th:text="${RegionRequiredError}"></td>
        </tr>
        <tr><td>
            <label for="city">City: </label>
        </td><td>
            <input type="text" id="city" th:field="*{city}" required minlength="2">
        </td>
            <td th:if="${CityRequiredError}" th:text="${CityRequiredError}"></td>
        </tr>
        <tr><td>
            <label for="street">Street: </label>
        </td><td>
            <input type="text" id="street" th:field="*{street}" minlength="2">
        </td>
            <td th:if="${StreetRequiredError}" th:text="${StreetRequiredError}"></td></tr>
        <tr><td>
            <label for="house">House: </label>
        </td><td>
            <input type="number" id="house" th:field="*{house}" min="1" required>
        </td>
            <td th:if="${HouseRequiredError}" th:text="${HouseRequiredError}"></td>
        </tr>
        <tr><td>
            <label for="building">Building: </label>
        </td><td>
            <input type="number" id="building" th:field="*{building}" min="1">
        </td>
            <td th:if="${BuildingRequiredError}" th:text="${BuildingRequiredError}"></td>
        </tr>
        <tr><td>
            <label for="flat">Flat: </label>
        </td><td>
            <input type="number" id="flat" th:field="*{flat}" min="0">
        </td>
            <td th:if="${FlatRequiredError}" th:text="${FlatRequiredError}"></td>
        </tr>
        <tr><td>
            <input type="submit" value="Add">
        </td></tr>
    </table></form></td></tr>
</table>
</body>
</html>