<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Address management</title>
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: toolbar}"></div>
<table>
    <tr><td><table>
        <caption><h1>Address management</h1></caption>
        <thead><tr>
            <td><form th:action="@{/address/add}" method="get">
                <input type="submit" value="Add new address">
            </form></td>
        </tr></thead>
        <tr>
            <th>Id</th>
            <th>Country</th>
            <th>Region</th>
            <th>City</th>
            <th>Street</th>
            <th>House</th>
            <th>Building</th>
            <th>Flat</th>
        </tr>
        <tr th:each="address : ${addresses}">
            <td th:text="${address.id}"></td>
            <td th:text="${address.country}"></td>
            <td th:text="${address.region}"></td>
            <td th:text="${address.city}"></td>
            <td th:text="${address.street}"></td>
            <td th:text="${address.house}"></td>
            <td th:text="${address.building}"></td>
            <td th:text="${address.flat}"></td>
            <td><form th:action="@{/address/list/__${currentPage}__/__${address.id}__/remove}" method="post">
                <input type="submit" value="remove">
            </form></td>
        </tr>
    </table></td></tr>
    <tr>
        <td th:insert="~{fragments/navigation_fragments  :: paging ('address', ${currentPage}, ${nPage})}"></td>
    </tr>
</table>
</body>
</html>