<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change password</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
<div>
    <form th:action="@{/profile/change_password}" method="post" class="m-auto col-3 text-center">
        <h1 class="h3 mb-3 fw-normal">Change your password</h1>

        <div class="form-floating">
            <input type="text" th:class="'form-control'+(${InvalidPasswordError!=null}?' is-invalid':'')"
                   id="currentPassword" name="currentPassword" placeholder="Current password" maxlength="50" required>
            <label for="currentPassword" th:text="${InvalidPasswordError==null}?'Current password':${InvalidPasswordError}"></label>
        </div>
        <div class="form-floating">
            <input type="text" th:class="'form-control'+(${passwordIsBlankError!=null}?' is-invalid':'')"
                   id="newPassword" name="newPassword" placeholder="New password" maxlength="50" required>
            <label for="newPassword" th:text="${passwordIsBlankError==null}?'New password':${passwordIsBlankError}"></label>
        </div>
        <div class="form-floating">
            <input type="text" th:class="'form-control'+(${passwordIsDifferentError!=null}?' is-invalid':'')"
                   id="confirmPassword" name="confirmPassword" placeholder="Confirm new password" maxlength="50" required>
            <label for="confirmPassword" th:text="${passwordIsDifferentError==null}?'Confirm new password':${passwordIsDifferentError}"></label>
        </div>
        <button class="w-100 btn btn-lg btn-dark" type="submit">Confirm change</button>
    </form>
</div>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>