<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change personality</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
<div>
    <form th:action="@{/profile/change_personality}" th:object="${personality}" method="post" class="m-auto col-3 text-center">
        <h1 class="h3 mb-3 fw-normal">Change your personality</h1>

        <input type="hidden" th:field="*{id}">

        <h5 th:text="'Current first name: '+*{firstName}"></h5>
        <div class="form-floating">
            <input type="text" class="form-control"
                   id="firstName" th:field="*{firstName}" placeholder="New first name" required>
            <label for="firstName" th:text="'New first name'"></label>
        </div>

        <h5 th:text="'Current last name: '+*{lastName}"></h5>
        <div class="form-floating">
            <input type="text" class="form-control"
                   id="lastName" th:field="*{lastName}" placeholder="New last name" required>
            <label for="lastName" th:text="'New last name'"></label>
        </div>

        <h5 th:text="'Current patronymic: '+*{firstName}"></h5>
        <div class="form-floating">
            <input type="text" class="form-control"
                   id="patronymic" th:field="*{patronymic}" placeholder="New patronymic" required>
            <label for="patronymic" th:text="'New patronymic'"></label>
        </div>

        <button class="w-100 btn btn-lg btn-dark" type="submit">Confirm change</button>
    </form>
</div>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>