<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <title>Profile</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
<table>
    <caption><h1 th:text="'Profile of ' + ${user.getUsername()}"></h1></caption>
    <tr>
        <th>Roles</th>
        <th>Email</th>
        <th>Personality</th>
    </tr>
    <tr>
        <td><table>
            <tr th:each="role:${user.getRoleSet()}"><td th:text="${role.name}"></td></tr>
        </table></td>
        <td><table>
            <tr><td th:text="${user.getEmail()}"></td></tr>
        </table></td>
        <td><table>
            <tr>
                <td>First name: </td>
                <td th:text="${user.getPersonality().getFirstName()}"></td>
            </tr>
            <tr>
                <td>Last name: </td>
                <td th:text="${user.getPersonality().getLastName()}"></td>
            </tr>
            <tr>
                <td>Patronymic: </td>
                <td th:text="${user.getPersonality().getPatronymic()}"></td>
            </tr>
        </table></td>
        <td><table>
            <tr sec:authorize="hasAuthority('1')"><td><form th:action="@{/profile/change_email}" method="get">
                <input type="submit" value="Contract management">
            </form></td></tr>
            <tr sec:authorize="hasAuthority('2')"><td><form th:action="@{/profile/change_email}" method="get">
                <input type="submit" value="Tariff management">
            </form></td></tr>
        </table></td>
    </tr><tr>
    <td align="center"><form th:action="@{/profile/change_email}" method="get">
        <input type="submit" value="Change email">
    </form></td>
    <td align="center"><form th:action="@{/profile/change_personality}" method="get">
        <input type="submit" value="Change personality">
    </form></td>
    </tr>
</table>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>