<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <div th:fragment="navbar">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}">Home page</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarScroll">
                    <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">
                        <li class="nav-item" sec:authorize="hasAuthority('CONSUMER')">
                            <a class="nav-link active" aria-current="page" href="#">Contract management</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasAuthority('PROVIDER')">
                            <a class="nav-link active" aria-current="page" href="#">Tariff management</a>
                        </li>
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Profile
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" sec:authorize="isAuthenticated()">
                                <li><form th:action="@{/profile}">
                                    <button type="submit" class="dropdown-item"
                                            th:text="'Profile of '+${#httpServletRequest.remoteUser}">
                                    </button></form></li>
                                <li><hr class="dropdown-divider"></li>
                                <li><form th:action="@{/logout}" th:method="post">
                                    <button type="submit" class="dropdown-item">Sign out</button>
                                </form></li>
                            </ul>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown" sec:authorize="isAnonymous()">
                                <li><form th:action="@{/sign_in}">
                                    <button type="submit" class="dropdown-item">Sign in</button>
                                </form></li>
                                <li><form th:action="@{/sign_up}">
                                    <button type="submit" class="dropdown-item">Sign up</button>
                                </form></li>
                            </ul>
                        </li>
                        <li class="nav-item dropdown" sec:authorize="hasAuthority('ADMINISTRATOR')">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarScrollingDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                Administration
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="navbarScrollingDropdown">
                                <li><form th:action="@{/address}" class="dropdown-item">
                                    <button type="submit">Address management</button>
                                </form></li>
                                <li><form th:action="@{/transmitter}" class="dropdown-item">
                                    <button type="submit">Transmitter management</button>
                                </form></li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </div>

    <div th:fragment="paging (listObject, currentPage, nPage)">
        <hr>
        <table>
            <tr>
                <td><form th:action="@{/__${listObject}__}">
                    <input type="submit" value="First page">
                </form></td>
                <td><form th:action="@{/__${listObject}__/list/__${currentPage}__/preview_page}" method="get">
                    <input type="submit" value="Preview page">
                </form></td>
                <td><form th:action="@{/__${listObject}__/to_page}" method="get">
                    <label for="toPage">To page:</label>
                    <input type="number" name="toPage" id="toPage" min="1" th:max="${nPage}" th:value="${currentPage}">
                    <input type="submit" value="go">
                </form></td>
                <td><form th:action="@{/__${listObject}__/list/__${currentPage}__/next_page}" method="get">
                    <input type="submit" value="Next page">
                </form></td>
                <td><form th:action="@{/__${listObject}__/last_page}">
                    <input type="submit" value="Last page">
                </form></td>
            </tr>
        </table>
        <hr>
    </div>
</body>
</html>