<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: toolbar}"></div>
<table>
    <caption>Administration page</caption>
    <tr><td><form th:action="@{/address}" method="get">
        <input type="submit" value="Address management">
    </form></td></tr>
    <tr><td><form th:action="@{/transmitter}" method="get">
        <input type="submit" value="Transmitter management">
    </form></td></tr>
</table>
</body>
</html>