<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Change email</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
    <table>
        <caption>Change email</caption>
        <tr th:if="${emailExistsError}"><td th:text="${emailExistsError}"></td></tr>
        <tr><td th:text="'Current email: '+${currentEmail}"></td></tr>
        <tr><td><form th:action="@{/profile/change_email}" method="post"><table>
            <tr><td><input type="email" name="email"></td></tr>
            <tr><td><input type="submit" value="Change"></td></tr>
        </table></form></td></tr>
    </table>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>