<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Signing Up</title>
    <link rel="stylesheet" type="text/css"
          href="/webjars/bootstrap/5.1.1/css/bootstrap.min.css" />
</head>
<body>
<div th:insert="~{fragments/navigation_fragments  :: navbar}"></div>
<form th:action="@{/sign_up}" method="post" class="form-sign m-auto col-3 text-center">
    <h1 class="h3 mb-3 fw-normal">Please sign up</h1>

    <div class="mt-1 mb-1 text-muted" th:if="${param.error}">Invalid username or/and password.</div>
    <div class="mt-1 mb-1 text-muted" th:if="${param.logout}">You have been logged out.</div>
    <div class="form-floating">
        <input type="text" th:class="'form-control'+(${usernameExistsError!=null}?' is-invalid':'')"
               id="floatingInput" name="username" placeholder="Username" required>
        <label for="floatingInput" th:text="${usernameExistsError==null}?'Username':${usernameExistsError}"></label>
    </div>
    <div class="form-floating">
        <input type="password" th:class="'form-control'+(${passwordsAreDifferent!=null}?' is-invalid':'')"
               id="floatingPassword" name="password" placeholder="Password">
        <label for="floatingPassword"
               th:text="${passwordsAreDifferent==null}?'Password':${passwordsAreDifferent}"></label>
    </div>
    <div class="form-floating">
        <input type="password" th:class="'form-control'+(${passwordsAreDifferent!=null}?' is-invalid':'')"
               id="floatingConfirmPassword" name="confirmPassword" placeholder="Confirm password">
        <label for="floatingConfirmPassword"
               th:text="${passwordsAreDifferent==null}?'Confirm password':${passwordsAreDifferent}"></label>
    </div>
    <div class="form-floating">
        <input type="email" th:class="'form-control'+(${emailExistsError!=null}?' is-invalid':'')"
               id="floatingEmail" name="email" placeholder="Email">
        <label for="floatingEmail" th:text="${emailExistsError==null}?'Email':${emailExistsError}"></label>
    </div>
    <div th:class="'form-check form-switch'+(${roleRequired!=null}?' is-invalid':'')" th:each="role : ${roles}">
        <input type="checkbox" class="form-check-input" name="rolesId" id="flexSwitchCheckDefault"
               th:value="${role.id}"> <!--th:checked="${#arrays.contains(__${selectedRoles}__, __${role.id}__)}"-->
        <label class="form-check-label" for="flexSwitchCheckDefault" th:text="${role.name}"></label>
    </div>
    <div class="invalid-feedback" th:if="${roleRequired}" th:text="${roleRequired}"></div>
    <button class="w-100 btn btn-lg btn-primary" type="submit">Sign up</button>
</form>
<script type="text/javascript"
        src="/webjars/jquery/3.6.0/jquery.min.js"></script>

<script type="text/javascript"
        src="/webjars/bootstrap/5.1.1/js/bootstrap.min.js"></script>
</body>
</html>