<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Signing Up</title>
</head>
<body>
Signing up
<hr>

<form th:action="@{/sign_up}" method="post">
    <table >
        <tr>
            <td>User name: </td>
            <td><input type="text" name="username"></td>
        </tr>
        <tr>
            <td>Password: </td>
            <td><input type="password" name="password"></td>
        </tr>
        <tr>
            <td>Email: </td>
            <td><input type="email" name="email"></td>
        </tr>
        <tr><input type="checkbox" name="roles" th:each="role : ${roles}"
                th:value="${role.id}"
                th:text="${role.name}">
        </tr>
        <tr>
            <td><input type="submit" value="Sign up"></td>
        </tr>
    </table>
</form>

<hr>
<a href="/sign_in"> Already have profile?</a>
</body>
</html>